<ion-content>
  <app-sidemenu [pagetitle]="pagetitle"></app-sidemenu>
  <ion-grid>
    <ion-row>
      <ion-card>
      
        <ion-card-content>
        <p><strong>T&C for Sender</strong></p>
        <p>
          You are requested to read the following points carefully before booking the shipmen:<br>
1.	You may carefully note that Your shipment must not contain any letter of communication which will infringe the INDIAN POSTAL ACT. 1983. Cheques, Drafts, Files, Stationery, Documents, Negotiable instruments, Banking papers, L.Cs and such other documents are not barred from being sent through this service. We accept envelopes/parcels in good faith that they do not contain anything, which will infringe the Law. Consignments, which are of Hazardous Nature (Chemicals, Flammable Articles and Liquids) expressly prohibited by the Railway/Airport authority or any other transport agency, shall not be accepted. We request you not to enclose Cash in the courier consignment and not to send Jewels, Textiles, High value gift articles, Share Certificates and Travel documents,<br>
2.	We request you to ensure that the Parcel is properly packed with thick paper material to avoid damage of the shipment in travel,<br>
3.	The APP or Traveler shall not be liable for any loss arising due to confiscation of shipments by any Government Agencies due to lack of proper documents, So kindly handover all the required documents and papers or bills along with your shipment,<br>
4.	Please collect Aadhaar or any other ID Proof from Traveler for security of your shipment,<br>
5.	Traveler has the right but not the obligation, to inspect the shipment while receiving from sender, kindly cooperate with us,<br>
6.	APP IS NOT RESPONSIBLE for any legal, security issues raised by sender, we will not provide any further service regarding shipment, its completely sender’s risk & choice. Sender has the right to reject to hand over his shipment if he has any doubt on traveler.


        </p>
        <br>
        <p><strong>T&C for Traveler</strong></p>
        <p>
          You are requested to read the following points carefully before accepting the shipment:<br>
          1.	Please confirm the shipment must not contain any letter of communication which will infringe the INDIAN POSTAL ACT. 1983. Cheques, Drafts, Files, Stationery, Documents, Negotiable instruments, Banking papers, L.Cs and such other documents are not barred from being sent through this service. Kindly accept envelopes/parcels in good faith that they do not contain anything, which will infringe the Law. Please don’t accept Consignments, which are of Hazardous Nature (Chemicals, Flammable Articles and Liquids) expressly prohibited by the RAILWAY/AIRPORT AUTHORITY OR ANY OTHER TRANSPORT AGENCY. Traveler should not to accept Cash, Jewels, Textiles, High value gift articles, Share Certificates and Travel documents,<br>
          2.	We request Traveler to ensure that the consignment is properly packed with thick paper material to avoid damage of the shipment in travel,<br>
          3.	Kindly collect all the required documents and papers or bills along with the shipment to avoid any loss arising due to confiscation of shipments by any Government Agencies due to lack of proper documents, <br>
          4.	Please collect Aadhaar or any other ID Proof from sender for security reasons,<br>
          5.	Traveler has the right but not the obligation, to inspect the shipment while receiving from sender if traveler has any doubt on shipment,<br>
          6.	APP IS NOT RESPONSIBLE for any legal, security issues raised by traveler, we will not provide any further service regarding shipment, its completely traveler’s risk & choice. Traveler has the right to reject the shipment if he has any doubt on sender or shipment item.
          
          
        </p>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
<app-footer></app-footer>
