<ion-card class="sendertravelrdata-card">
  <ion-card-content >
    <div>
      <ion-radio slot="start" *ngIf="radioselecbtns" [value]="itemsData"></ion-radio>
      <ion-grid>
        <ion-row>
          <ion-col>
            <p>{{itemsData.fromcity}}</p>
            <p>
              <ion-icon name="arrow-down-outline" style="margin-left: 26px;"></ion-icon>
            </p>
            <p>{{itemsData.tocity}}</p>
          </ion-col>
          <ion-col>
            <div>
              <p><strong> Date & Time</strong></p>
              <p>{{itemsData.dateoftravel}} ({{itemsData.timeoftravel}})</p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p><strong>User Details</strong></p>
            <p>
              <ion-icon name="person-outline"></ion-icon>&nbsp;<span>{{itemsData.email}}</span>
            </p>
            <p>
              <ion-icon name="call" (click)="showAlertpopup(itemsData.mobile)" ></ion-icon>&nbsp;<span (click)="showAlertpopup(itemsData.mobile)">{{itemsData.mobile}}</span>
            </p>
          </ion-col>
          <ion-col *ngIf="itemsData.type === 'sender'?true:false">
            <p><strong>Parcel details</strong></p>
            <p><span>itemtype :</span> <span>{{itemsData.itemtype}}</span></p>
            <p><span>weight :</span> <span>{{itemsData.weight}} </span></p>
          </ion-col>
          <ion-col *ngIf="itemsData.usertype === 'sender'?true:false">
            <p><strong>Parcel details</strong></p>
            <p><span>itemtype :</span> <span>{{itemsData.itemtype}}</span></p>
            <p><span>weight :</span> <span>{{itemsData.weight}} </span></p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div *ngIf="bottomoptions">
      <ion-grid>
        <ion-row>
          <ion-col class="text-center">
            <ion-icon class="ion-icons-bottom text-center" name="eye-outline" (click)="viewFullPagewithData(itemsData)"></ion-icon>
          </ion-col>
          <ion-col class="text-center ion-text-center">
            <ion-icon class="ion-icons-bottom text-center ion-text-center"   name="trash-outline" (click)="deleteSelectedItem(itemsData.id)"></ion-icon>
          </ion-col>
          <ion-col class="ion-text-end">
            <ion-icon class="ion-icons-bottom ion-text-end" name="star-half-outline" (click)="reviewPage(itemsData)"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card-content>
</ion-card>