
.ion-icons-bottom{
    font-size: 25px;;
}

.sendertravelrdata-card {
    background: #d7d8da;
}   
p{
    color: black;
}
ion-radio.md.interactive.hydrated {
    background: white;
    border-radius: 100%;
}