
img {
    width: 120px;
    height: 120px;
    display: block;
    margin: 20px auto 0;
    background-size: 100%;
}
.otpdiv{
  //  height: 100%;
   // margin-top: 20%;
    
}

.inputotp{

}
.inputField {
    border: 2px solid black;
}
.otpsubmitbtn{
    background-color: crimson;
}