.profile-icon-css{
    font-size: 49px;
}
.usertype-css{
    font-size: 12px;
}
.usercred-div-css{
    padding: 0px;
    margin-top: 12px;
}
.usertiitle-css{
    padding: 0px;
    margin-bottom: -4px;
    margin-top: -4px;
}
ion-icon.md.hydrated {
    padding: 0 5px;
}