.main-div-css{
    height:100%;
}
.contact-us-im-css{
    // background-image:url("../../../assets/images/contactus.jpg");
    // width:100%;
    // height:388px;
    // background-repeat: no-repeat;
    // background-size: auto;

    background-color: white;
    background-image: url("../../../assets/images/contactus.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: left top;
    height: 30%;
    width:100%;
}
.center-text-css{
    text-align: center;
    color: #424040;
    padding: 35px;
    float: left;
    font-size: 17px;
    margin-left: -18px;
}