<!-- <app-sidemenu [pagetitle]="userType"></app-sidemenu> -->
<ion-content >
  <div>
    <ion-card>
      <ion-item>
      <ion-img src="../../../assets/images/userimg.jpg" ></ion-img>
      </ion-item>
      <ion-card-content>
      <h1><strong>Naveen</strong></h1>
      <p>naven@gmail.com</p>
      <p>9666733835</p>
      <p>rajghamundry</p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-item>
      <ion-img src="../../../assets/images/userimg.jpg" ></ion-img>
      </ion-item>
      <ion-card-content>
      <h1><strong>Naveen</strong></h1>
      <p>naven@gmail.com</p>
      <p>9666733835</p>
      <p>rajghamundry</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>